<div class="flex w-full px-4 sm:px-6 lg:px-8 py-8">
    {{ include('profile/createdArticles/profile-article-container.html.twig') }}
    {{ include('profile/likedArticles/profile-article-liked-container.html.twig') }}
</div>