<div class="border border-gray-200 rounded-lg p-4 my-4">
    <div class="flex items-center">
        <img class="w-8 h-8 rounded-full mr-4"
             src="https://picsum.photos/id/1006/200/200"
             alt="Jane Doe's avatar">
        <div>
            <h4 class="font-bold">Jane Doe</h4>
            <p class="text-gray-500">April 28, 2023 at 2:35 PM</p>
        </div>
    </div>
    <p class="mt-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod
        ante vitae elit posuere, non pellentesque nisl hendrerit.</p>
</div>