{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}

    {{ include('_includes/navigation.html.twig') }}
    {% set isMore3CommentToDisplay = true %}
    <div class="max-w-xl mx-auto mt-28">
        {{ include('_includes/article.html.twig') }}
        {% if app.user %}
            {{ include('_includes/create-comment.html.twig') }}
        {% endif %}
    </div>
    <script src="{{ asset('js/like.js') }}"></script>
{% endblock %}
