<!-- Modal -->
<!-- Modal Overlay -->
<div id="modal-overlay" class="fixed inset-0 bg-gray-900 opacity-90 cursor-pointer hidden"></div>
<div id="modal" class="fixed z-10 inset-0 overflow-y-auto hidden">
    <div class="flex items-center justify-center min-h-screen p-4">
        <div class="relative w-full max-w-lg">
            <!-- Modal Content: Photo and Close Button -->
            <div class="bg-gray-900 rounded-lg overflow-hidden">
                <img id="image-modal" src="https://picsum.photos/200/300" alt="Your Photo" class="w-full object-cover"
                     style="max-height: 80vh;">
                <button id="modal-close"
                        class="absolute top-0 right-0 mt-2 mr-2 text-white hover:text-gray-400 focus:outline-none">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                         width="27.4287" height="27.4381">
                        <g>
                            <rect height="27.4381" opacity="0" width="27.4287" x="0" y="0"/>
                            <path d="M13.7122 27.4244C21.2309 27.4244 27.4287 21.2172 27.4287 13.7122C27.4287 6.19774 21.2215 0 13.7028 0C6.19774 0 0 6.19774 0 13.7122C0 21.2172 6.20717 27.4244 13.7122 27.4244ZM9.10998 19.2086C8.6167 19.2086 8.23471 18.8214 8.23471 18.3366C8.23471 18.0951 8.31865 17.8758 8.49502 17.7047L12.4686 13.7259L8.49502 9.75653C8.31865 9.57592 8.23471 9.36606 8.23471 9.12461C8.23471 8.63037 8.6167 8.26205 9.10998 8.26205C9.3651 8.26205 9.55186 8.346 9.7367 8.52141L13.7122 12.4875L17.7066 8.51197C17.9051 8.3177 18.0961 8.24318 18.3375 8.24318C18.8266 8.24318 19.2222 8.62094 19.2222 9.10574C19.2222 9.35662 19.1477 9.54762 18.9483 9.74709L14.9695 13.7259L18.9388 17.6952C19.1289 17.8664 19.2128 18.0857 19.2128 18.3366C19.2128 18.8214 18.8214 19.2086 18.3187 19.2086C18.0678 19.2086 17.8485 19.1246 17.6731 18.9398L13.7122 14.9737L9.765 18.9398C9.57592 19.1246 9.3651 19.2086 9.10998 19.2086Z"
                                  fill="#ffffff" fill-opacity="0.85"/>
                        </g>
                    </svg>


                </button>
            </div>
        </div>
    </div>
</div>

<script>
    const modalTriggers = document.querySelectorAll("#modal-trigger");
    const modal = document.getElementById("modal");
    const modalClose = document.getElementById("modal-close");
    const modalOverlay = document.getElementById("modal-overlay");
    const imageModal = document.getElementById("image-modal");


    modalTriggers.forEach((button) => {
        const image = button.getAttribute("data-image-name");
        button.addEventListener("click", (event) => {
            imageModal.src = "{{ asset('uploads/article_images/') }}" + image;
            modal.classList.remove("hidden");
            modalOverlay.classList.remove("hidden");
        });
    });

    modalClose.addEventListener("click", () => {
        modal.classList.add("hidden");
        modalOverlay.classList.add("hidden");
    });
</script>